<div class="menu-show">
	<div class="menu-icon"></div>
</div>
<nav>
	<ul>
		<li>
			<a href="">Characters</a>
			<ul class="sub-menu">
				<li><a href="/characters/ssr"><img src="/images/ssr.png"/></a></li>
				<li><a href="/characters/sr"><img src="/images/sr.png"/></a></li>
				<li><a href="/characters/r"><img src="/images/r.png"/></a></li>
			</ul>
		</li>

		<%/*
			<li>
				<a href="#"><del>Raids</del> (soonTM)</a>
			</li>
			<li>
				<a href="#"><del>Summons?</del> (soonTM)</a>
			</li>
			<li>
				<a href="#"><del>Events?</del> (soonTM)</a>
			</li>
			<li>
				<a href="#"><del>????</del> (soonTM)</a>
			</li>
		*/%>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	<div class="menu-close"></div>
</nav>

<a href="/"><img src="/images/grubble.png" class="imglogo"/></a>
