<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head %>
</head>

<body>
	<header>
		<% include ./partials/nav %>
	</header>

	<div class="main-wrapper">
		<div class="container">
			<p>Hello<br>
			Zzzzzzzzzzzzzzz zzz zzzzzzzzzz zzzzzzzzz<br>
			Zzzzzzz zzzzzzzzzzzzzzzz zzzzzzzz<br>
			Zzzzzzzz zzzzzz</p>
		</div>
	</div>
	
	<footer>
		<% include ./partials/footer %>
	</footer>
</body>

</html>





