<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head %>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<div class="mainContainer">
		<div class="qqq">
			<div id="start"></div>
			
			<% include ./partials/footer %>
		</div>
	</div>
</body>

</html>





