*{
	padding: 0;
	margin: 0;
}
html{
	height: 100%;
	min-width: 300px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background: #104070 url(images/background.jpg) no-repeat center fixed; 
	background-size: cover;
}
body{ 
	height: 100%;
}
.mainContainer{
	width: 100%;
	min-height: 100%;
	background-color: rgba(64, 64, 64, .4);
}
.container{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(230, 230, 230, .7);
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.container::after{
	margin: auto;
	content: "";
	width: 100%;
	height: 100%;
	background: url("") no-repeat 50% fixed;
	top: 0;
	left: -900px;
	right: -900px;
	bottom: 0;
	position: absolute;
	display: inline-block;
	z-index: -1;
}
#start{
	position: relative;
	width: 100%;
	height: 200px;
	background-color: rgba(0, 0, 0, .8);
}
.margins{
	width: 100%;
	margin: 16px auto 16px auto;
}
.select{
	font-size: 12pt;
	margin-right: 5px;
}
.box{
	position: relative;
	display: flex;
	height: 40px;
	width: 150px;
}
.info{
	position: absolute;
	bottom: 100%;
	margin-left: -60px;
	display: none;
	text-align: center;
	min-width: 240px;
	background-color: rgba(220, 220, 225, .9);
	border: 1px solid rgba(60, 60, 60, .9);
	box-shadow: 2px 2px 5px grey;
}
.info p{
	margin: 15px;
}
.box p:hover + .info{
	display: inline-block;
}
.flex{
	padding-right: 30px;
	display: none;
	margin: auto;
	width: 270px;
}
.selectBox{
	displaY: table;
	justify-content: center;
	margin: 0 auto;
}
.grid{
	margin: auto;
	max-width: 700px;
	display: grid;
	padding-top: 128px; 
	padding-bottom: 128px;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
p{
	margin: auto;
	color: black;
	font-size: 15px;
	text-align: center;
}
p2{
	margin: auto 5px auto 5px;
	color: black;
	font-size: 15px;
}
.box input{
	margin: auto 2px auto 0px;
	height: 20px;
	width: 30px;
}
button{
	margin: auto 2px auto 0px;
	min-width: 24px;
	min-height: 24px;
	background-color: #c4ccd4;
	border: 2px solid #4d6680;
	box-shadow: 2px 2px 5px grey;
	-webkit-user-select:none; 
	-webkit-touch-callout:none; 
	-moz-user-select:none; 
	-ms-user-select:none; 
	user-select:none; 
}
#thisFineBox{
	display: none;
	margin: auto;
}
.checkbox{
	margin: auto 0 auto auto;
	width: 100px;
	float: right;
}
.checkbox p{
	color: black;
	font-size: 15px;
}
.qqq{
	margin: auto;
	max-width: 980px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-content: space-between;
}
#foot{
	margin-top: auto;
	height: 40px;
	width: 100%;
	background-color: rgba(0, 0, 0, .7);
}

@media (max-width: 400px){ .info{ margin-left: 0px; } }